extends layout

block content
  script(src='//www.google.com/recaptcha/api.js')

  form(action='/c/'+params.country+'/l/'+params.language+'/create', method='post')
    p
      label
        input(type='radio' name='positive' value='true')
        | Positive
      label
        input(type='radio' name='positive' value='false')
        | Negative
    p
      label Text &#32;
        textarea(name='text')
    p
      .g-recaptcha(data-sitekey=recaptcha.config.siteKey)
    p
      input(type='submit')
