body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

.service-level-bar
  position: fixed
  width: 20px
  height: 90%
  top: 5%
  left: 20px
  .positive
    background: green
  .negative
    background: red
